
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

@theme {
  --color-primary: #5044E5;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media print {
  /* Hide interactive stuff */
  button,.no-print {
    display: none!important;
  }

  /* Force colors to print */
    * {
    -webkit-print-color-adjust: exact!important;
    print-color-adjust: exact!important;
  }

  /* Make gradients solid for PDF */
 .bg-gradient-to-r,.bg-gradient-to-br {
    background: #f43f5e!important; /* rose-500 */
  }

  /* Clean backgrounds */
  body {
    background: white!important;
  }
}